{% extends 'base.html' %}

{% block content %}

    <div class="text-center" style="padding-top: 25vh;">
        <div class="text-center fw-bold">Welcome to GitMan on</div>
        <h1 class="display-5 fw-bold text-body-emphasis">{{ hostname }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ amt_git }} repositor{% if amt_git == 1 %}y{% else %}ies{% endif %}, {{ total_commits }} commit{% if total_commits != 1 %}s{% endif %}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>

    <script>
        // Function to generate a random gradient based on the hostname
        function generateRandomColor(seed) {
            const hash = seed.split('').reduce((acc, char) => char.charCodeAt(0) + (acc << 6) + (acc << 16) - acc, 0);
            const baseColor = '#' + (hash & 0x00FFFFFF).toString(16).toUpperCase(); // Generates a random color based on the seed
            return adjustBrightness(baseColor, -120);
        }

        function adjustBrightness(color, amount) {
            const clamp = (value, min, max) => Math.min(max, Math.max(min, value));
            const hexToRgb = hex => [parseInt(hex.slice(1, 3), 16), parseInt(hex.slice(3, 5), 16), parseInt(hex.slice(5, 7), 16)];
            const rgbToHex = (r, g, b) => `#${(1 << 24 | r << 16 | g << 8 | b).toString(16).slice(1)}`;

            const rgb = hexToRgb(color);
            const adjustedRgb = rgb.map(value => clamp(value + amount, 0, 255));
            return rgbToHex(...adjustedRgb);
        }

        // Function to generate a random radial gradient color stop
        function generateRandomColorStop(seed) {
            const color = generateRandomColor(seed);
            return `${color}`;
        }

        // Get the hostname from the template (replace 'example.com' with the actual hostname variable)
        const hostname = "{{ hostname }}";

        // Generate 5 different color stops for the radial gradient
        const gradientColorStops = Array.from({ length: 5 }, (_, index) => generateRandomColorStop(`${hostname}${index + Math.random()*100}`));

        // Set the background color of the body with a radial gradient
        document.body.style.background = `linear-gradient(45deg, ${gradientColorStops.join(', ')})`;
        document.body.style.backgroundRepeat = 'no-repeat';

    </script>
{% endblock %}