{% extends 'base.html' %}
{#
{% block content %}
    <script src="{{ url_for('static', filename='mainpageGradients.js') }}"></script>
    <div class="text-center" style="padding-top: 25vh;">
        <div class="text-center fw-bold">Welcome to GitMan on</div>
        <h1 class="display-5 fw-bold text-body-emphasis">{{ hostname }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ amt_git }} repositor{% if amt_git == 1 %}y{% else %}ies{% endif %}, {{ total_commits }} commit{% if total_commits != 1 %}s{% endif %}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
{% endblock %}
#}

{% block content %}
    <script src="{{ url_for('static', filename='mainpageGradients.js') }}"></script>
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 54px);">
        <div class="text-center">
            <div class="text-center fw-bold">Welcome to GitMan on</div>
            <h1 class="display-5 fw-bold text-body-emphasis" style="white-space: nowrap;">{{ hostname }}</h1>
            <div class="mx-auto text-center">
                <p class="lead mb-4">{{ amt_git }} repositor{% if amt_git == 1 %}y{% else %}ies{% endif %}, {{ total_commits }} commit{% if total_commits != 1 %}s{% endif %}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    {% if not user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="/login">Login</a>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

