{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex space-between m-auto align-items-center">
            <h2 class="my-3 flex-fill">Create a new repository</h2>
        </div>
        <form class="m-auto" method="post" action="/users/create/read">
            <div>
                <div class="mb-3 me-1 d-flex justify-content-between">
                    <div>
                        <label for="username" class="form-label">Repository Name</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                               name="username">
                        <div id="usernameHelp" class="form-text">The friendly name of this repository.</div>
                    </div>
                    <div>
                        <label for="username" class="form-label">Git-Repo Name</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                               name="username">
                        <div id="usernameHelp" class="form-text">What the URL of the Git-Repo will look like.</div>
                    </div>
                </div>
                <div class="mb-3 me-1">
                    <label for="roleSelection" class="form-label">Role</label>
                    <select id="roleSelection" class="form-select" aria-describedby="roleSelectionHelp"
                            name="roleSelection">
                        <option name="none">No Access</option>
                        <option name="ro">Read-Only</option>
                        <option name="rw">Read-Write</option>
                        <option name="admin">Admin</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createCheck" name="createCheck">
                <label class="form-check-label" for="createCheck">Allow user to create repositories</label>
                <div id="createCheckHelp" class="form-text">This will only be valid if the user is Read-Write.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="sshCheck" name="sshCheck">
                <label class="form-check-label" for="sshCheck">Allow user to log in via SSH</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}