{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Repositories</h1>
    <div class="list-group w-50 m-auto">
        {% for repo in git_folders %}
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ repo }}</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
