{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='mainpageGradients.js') }}"></script>
    <div class="container-fluid">
        <div class="d-flex space-between w-75 m-auto align-items-center">
            <h1 class="my-3 flex-fill">Repositories</h1>
            <button class="btn btn-success" onclick="window.location.href='/repositories/create'">New Repository</button>
        </div>
        <div class="list-group w-75 m-auto">
            {% for repo in repositories %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ repo.name }}</h5>
                        <small class="text-body-secondary">
                            {{ repo.commits }} commit{% if repo.commits != 1 %}s{% endif %}
                        </small>
                    </div>
                    <p class="mb-1">{{ repo.description }}</p>
                    <small class="text-body-secondary">Owned by {{ repo.creator }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
