{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex space-between m-auto align-items-center">
            <h1 class="my-3 flex-fill">Users</h1>
            <a class="btn btn-success" href="/users/create">New User</a>
        </div>
        <div class="list-group m-auto">
            {% for user in users %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between f-10">
                        <h5 class="mb-0">{{ user.username }}</h5>
                        {% if user.is_sudo %}
                            <span class="badge text-bg-success" style="font-size: 1rem;">Admin</span>
                        {% elif user.is_rw %}
                            <span class="badge text-bg-warning" style="font-size: 1rem;">Read-Write</span>
                        {% elif user.is_r %}
                            <span class="badge text-bg-info" style="font-size: 1rem;">Read-Only</span>
                        {% else %}
                            <span class="badge text-bg-danger" style="font-size: 1rem;">No Access</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}